
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Content Projection Example</h1>
            <p>The content bellow shows a card list which uses a Custom Card Component. This component projects configurable content for the Header, the Boddy and the Footer; using the "ng-content" tag. The "select" attribute targets the specific content by classname.
            </p>
            <hr>
            <app-custom-card>
                <h2 class="header-content">Hi There</h2>
                <h3 class="body-title">This is an example Text</h3>
                <p class="body-content">Thi text is an example for content projection in angular.</p>
                <a href="www.google.com" class="footer-content btn btn-success">Go</a>
                <p style="color: red"> This text goes outside!</p>
            </app-custom-card>
        </div>
</div>